[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c '/home/user/kafka/bin/kafka-server-start.sh /home/user/kafka/config/server.properties > /home/user/kafka/kafka.log 2>&1'
ExecStop=/home/user/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
